
.payment .pay-number {
	padding: 100rpx 0;
	background: #f6f9fb;
}

.payment .pay-number .price {
	justify-content: center;
	font-weight: 600;
	font-size: 32rpx;
}

.payment .pay-number .price .big {
	font-size: 48rpx;
}

.payment .pay-number .time {
	margin-top: 10rpx;
	font-size: 20rpx;
	display: flex;
	align-items: center;
	justify-content: center;
}

.payment .pay-number .time .text {
	margin-right: 10rpx;
}

.payment .ways {
	padding: 0 30rpx;
}

.payment .ways .item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2rpx solid #f9f9f9;
	padding: 30rpx 0;
}

.payment .ways .item .pay-name {
	display: flex;
	align-items: center;
}

.payment .ways .item .pay-name .img {
	width: 44rpx;
	height: 44rpx;
	font-size: 0;
}

.payment .ways .item .pay-name .name {
	margin-left: 20rpx;
}

.payment .sure-pay {
	position: fixed;
	bottom: calc(20rpx + env(safe-area-inset-bottom));
	left: 30rpx;
	right: 30rpx;
	width: auto;
	max-width: 690rpx;
	margin: auto;
	height: 70rpx;
	line-height: 70rpx;
	border-radius: 70rpx;
	text-align: center;
	background: #fc1b35;
	font-size: 26rpx;
	font-weight: 600;
	color: #fff;
}
