
page {
  background: #f2f3f7;
}

.user-settings {
  padding-bottom: env(safe-area-inset-bottom);
}

.user-settings .first-box {
  background: #fff;
  border-radius: 0 0 10rpx 10rpx;
  padding: 0 30rpx;
}

.user-settings .item {
  display: flex;
  align-items: center;
  padding: 30rpx 0;
  border-bottom: 2rpx solid #f9f9f9;
}

.user-settings .item .text {
  flex: 1;
  font-size: 28rpx;
  margin-right: 20rpx;
}

.user-settings .item .img {
  width: 120rpx;
  height: 120rpx;
  border-radius: 50%;
  overflow: hidden;
  font-size: 0;
}

.user-settings .item .text-arrow {
  color: #999;
  text-align: right;
  padding-right: 20rpx;
}

.user-settings .item .text-arrow::after {
  width: 12rpx;
  height: 12rpx;
  border-color: #999;
}

.user-settings .item .name {
  font-weight: 600;
}

.user-settings .item .des {
  color: #999;
  font-size: 24rpx;
  margin-top: 6rpx;
}

.user-settings .other-entrance {
  background: #fff;
  border-radius: 10rpx;
  margin-top: 20rpx;
  padding: 0 30rpx;
}

.user-settings .first-box .item:last-child,
.user-settings .other-entrance .item:last-child {
  border-bottom: 0;
}

.user-settings .login-out {
  background: #fff;
  border-radius: 10rpx;
  margin-top: 20rpx;
  padding: 30rpx;
  font-size: 28rpx;
  text-align: center;
}