// element-plus
:root {
  --el-color-primary: #155BD4;
  --el-color-primary-light-3: #447cdd;
  --el-menu-item-height: 40px !important;
  --el-menu-sub-item-height: 40px !important;
  --el-button-hover-link-text-color: #155BD4;
  --el-color-primary-light-5: #155BD4;

}
