page {
  background: #f2f3f7;
}

.search-list {
  padding-top: 180rpx;
  padding-bottom: env(safe-area-inset-bottom);
}

.search-list .line-prods {
  margin-top: 15px;
}

/* 搜索栏 */
.search-list .search-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 750rpx;
  margin: auto;
  background: #fff;
  padding: 20rpx 30rpx;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  z-index: 99;
}

.search-list .search-top .search-box {
  flex: 1;
  margin-right: 30rpx;
  height: 60rpx;
  background: #f5f5f5;
  border-radius: 60rpx;
  display: flex;
  align-items: center;
}

.search-list .search-top .search-box .icon {
  width: 24rpx;
  height: 24rpx;
  font-size: 0;
  margin-left: 20rpx;
}

.search-list .search-top .search-box .input {
  margin: 0 16rpx 0 10rpx;
  flex: 1;
}

.search-list .search-top .search-box .text {
  color: #999;
  margin-left: 5px;
}

.search-list .search-top .search-box .key-tag {
  height: 42rpx;
  line-height: 42rpx;
  font-size: 22rpx;
  color: #fff;
  padding: 0 14rpx;
  border-radius: 21rpx;
  background: #000;
  opacity: 0.5;
  margin: 0 16rpx 0 10rpx;
}

.search-list .search-top .search-box .key-tag .close {
  font-size: 12rpx;
  margin-left: 10rpx;
  color: #fff;
}

.search-list .search-top .list-style {
  width: 32rpx;
  height: 32rpx;
  font-size: 0;
}

.search-list .search-top .search-cancel {
  color: #999;
}

/* 筛选栏 */
.search-list .sortbar {
  position: fixed;
  top: 100rpx;
  left: 0;
  right: 0;
  max-width: 750rpx;
  margin: auto;
  height: 80rpx;
  display: flex;
  align-items: center;
  background: #fff;
  padding-bottom: 20rpx;
  box-sizing: border-box;
  box-shadow: 0 4rpx 4rpx rgba(0,0,0,.01);
  z-index: 99;
  border-radius: 0 0 10rpx 10rpx;
}

.search-list .sortbar .item {
  flex: 1;
  text-align: center;
  height: 46rpx;
  line-height: 46rpx;
  font-size: 26rpx;
  position: relative;
}

.search-list .sortbar .item::before {
  position: absolute;
  bottom: -4rpx;
  left: 35%;
  right: 35%;
  display: block;
  width: auto;
  height: 4rpx;
  border-radius: 4rpx;
  content: " ";
  font-size: 0;
  background: #fff;
}

.search-list .sortbar .item.arrow-up::before,
.search-list .sortbar .item.arrow-down::before {
  left: 38%;
  right: 26%;
}

.search-list .sortbar .item.active {
  font-weight: 600;
}

.search-list .sortbar .item.active::before {
  background: linear-gradient(to right, #fc1b35, #fff);
}

.search-list .sortbar .item.arrow-up::after,
.search-list .sortbar .item.arrow-down::after {
  position: absolute;
  left: 50%;
  margin-left: 32rpx;
  transform: translateY(-50%);
  display: block;
  width: 0;
  height: 0;
  content: " ";
  font-size: 0;
  border: 8rpx solid transparent;
  border-radius: 4rpx;
}

.search-list .sortbar .item.arrow-up::after {
  top: 55%;
  border-top: 8rpx solid #999;
}

.search-list .sortbar .item.arrow-down::after {
  top: 40%;
  border-bottom: 8rpx solid #999;
}

.search-list .sortbar .item.arrow-up.active::after {
  border-top: 8rpx solid #333;
}

.search-list .sortbar .item.arrow-down.active::after {
  border-bottom: 8rpx solid #333;
}

/* 商品头部店铺 */
.search-list .head-shop-info {
  padding: 20rpx;
  margin-bottom: -15px;
}
.search-list .head-shop-info .shop-info-box {
  background: #fff;
  border-radius: 10rpx;
  padding: 20rpx;
}

.search-list .head-shop-info .shop-info-box .con {
  display: flex;
  align-items: center;
}

.search-list .head-shop-info .shop-info-box .con .logo {
  width: 70rpx;
  height: 70rpx;
  font-size: 0;
  border-radius: 50%;
  overflow: hidden;
}

.search-list .head-shop-info .shop-info-box .con .text {
  flex: 1;
  margin-left: 20rpx;
}

.search-list .head-shop-info .shop-info-box .con .text .name {
  font-weight: 600;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-list .head-shop-info .shop-info-box .con .text .focus-box {
  display: flex;
  align-items: center;
  margin-top: 4rpx;
  font-size: 20rpx;
}

.search-list .head-shop-info .shop-info-box .con .text .focus-box .self {
  padding: 2rpx 6rpx;
  line-height: 20rpx;
  color: #fff;
  background: #fc1b35;
  border-radius: 4rpx;
  margin-right: 10rpx;
  font-size: 18rpx;
}

.search-list .head-shop-info .shop-info-box .con .text .focus-box .focus {
  color: #999;
}

.search-list .head-shop-info .shop-info-box .con .btn {
  font-size: 20rpx;
  padding: 6rpx 20rpx;
  border-radius: 40rpx;
  color: #fc1b35;
  border: 2rpx solid #fc1b35;
}

/* 优惠信息 */
.search-list .discount-msg {
  padding: 30rpx;
}

.search-list .discount-msg.pd {
  padding-bottom: 0;
}


/* 店铺列表 */
.search-list .shop-list {
  padding: 0 30rpx;
}

.search-list .shop-list .item {
  background: #fff;
  border-radius: 10rpx;
  margin-top: 30rpx;
  padding: 20rpx;
}

.search-list .shop-list .item .shop-info {
  display: flex;
  align-items: center;
  padding-bottom: 20rpx;
}

.search-list .shop-list .item .shop-info .logo {
  width: 70rpx;
  height: 70rpx;
  font-size: 0;
  border-radius: 50%;
  overflow: hidden;
}

.search-list .shop-list .item .shop-info .text {
  flex: 1;
  margin-left: 20rpx;
}

.search-list .shop-list .item .shop-info .text .name {
  font-weight: 600;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-list .shop-list .item .shop-info .text .focus-box {
  display: flex;
  align-items: center;
  margin-top: 4rpx;
  font-size: 20rpx;
}

.search-list .shop-list .item .shop-info .text .focus-box .self {
  padding: 2rpx 6rpx;
  line-height: 20rpx;
  color: #fff;
  background: #fc1b35;
  border-radius: 4rpx;
  margin-right: 10rpx;
  font-size: 18rpx;
}

.search-list .shop-list .item .shop-info .text .focus-box .focus {
  color: #999;
}

.search-list .shop-list .item .shop-info .btn {
  font-size: 20rpx;
  padding: 6rpx 20rpx;
  border-radius: 40rpx;
  color: #fc1b35;
  border: 2rpx solid #fc1b35;
}

.search-list .shop-list .item .shop-prods {
  display: flex;
  justify-content: space-between;
}

.search-list .shop-list .item .shop-prods .p-item {
  flex: 1;
}

.search-list .shop-list .item .shop-prods .p-item .img {
  width: 210rpx;
  height: 210rpx;
  font-size: 0;
  margin: auto;
  border-radius: 10rpx;
  overflow: hidden;
}

.search-list .shop-list .item .shop-prods .p-item .price {
  margin-top: 10rpx;
  height: 32rpx;
  justify-content: center;
  color: #333;
}

.search-list .shop-list .item .shop-prods .p-item .price .big {
  font-size: 24rpx;
}