
.pay-result {
  padding-top: 200rpx;
  text-align: center;
}

.pay-result .pay-det .img {
  position: relative;
  width: 100rpx;
  height: 100rpx;
  margin: auto;
  border-radius: 50%;
  background: #fc1b35;
}

.pay-result .pay-det .img .pay-img{
  position: absolute;
  width: 64rpx;
  height: 64rpx;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/* .pay-result .pay-det .img::after {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: block;
  font-size: 28rpx;
  font: normal normal normal 48rpx/1 uni;
  color: #fff;
  transform: translateY(-50%);
}

.pay-result .pay-det .img.success::after {
  content: "\EA08";
}

.pay-result .pay-det .img.fail::after {
  content: "\2715";
  left: 4rpx;
  top: 45%;
  font-weight: 600;
} */

.pay-result .pay-det .price {
  margin-top: 60rpx;
  justify-content: center;
  font-weight: 600;
  color: #333;
  font-size: 36rpx;
}

.pay-result .pay-det .error-text {
  margin-top: 60rpx;
  font-size: 32rpx;
  font-weight: 600;
}

.pay-result .pay-det .text {
  margin-top: 20rpx;
  color: #999;
}

.pay-result .pay-bottom {
  margin-top: 100rpx;
}

.pay-result .pay-bottom .btn {
  width: 400rpx;
  height: 70rpx;
  line-height: 70rpx;
  border-radius: 80rpx;
  background: #fc1b35;
  color: #fff;
  margin: 0 auto 40rpx;
  font-size: 26rpx;
  font-weight: 600;
  box-sizing: border-box;
}

.pay-result .pay-bottom .btn.back {
  background: #fff;
  border: 2rpx solid #fc1b35;
  color: #fc1b35;
}

/* 查看提货码弹窗 */
.popup .view-code {
  height: 61%;
}

.popup .view-code .address {
  padding: 20rpx 0;
  box-shadow: 0 6rpx 6rpx rgba(0,0,0,.01);
}

.popup .view-code .address .item {
  display: flex;
  margin-bottom: 20rpx;
}

.popup .view-code .address .item .label {
  color: #999;
}

.popup .view-code .address .item .det {
  flex: 1;
  text-align: left;
}

.popup .view-code .code {
  width: 340rpx;
  height: 340rpx;
  font-size: 0;
  margin: 40rpx auto 20rpx;
}


.popup .view-code .code-num {
  text-align: center;
  font-weight: 600;
}
