
page {
  background: #fff;
}

.free-shop {
  padding-bottom: env(safe-area-inset-bottom)
}

.free-shop .item {
  padding: 0 30rpx;
}

.free-shop .item .label {
  font-size: 28rpx;
  font-weight: 600;
  margin-top: 50rpx;
}

/* 店铺类型 */
.free-shop .item .style-box {
  display: flex;
  margin-top: 30rpx;
}

.free-shop .item .style-box .shop-style {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24rpx 30rpx;
  border: 2rpx solid #eee;
  border-radius: 90rpx;
}

.free-shop .item .style-box .shop-style.active {
  border-color: #fc1b35;
}

.free-shop .item .style-box .shop-style:first-child {
  margin-right: 30rpx;
}

.free-shop .item .style-box .shop-style .text {
  font-size: 26rpx;
}

.free-shop .item .style-box .shop-style.active .text {
  color: #fc1b35;
  font-weight: 600;
}

/* 店铺资料 */
.free-shop .item .input {
  padding: 28rpx 30rpx;
  background: #f9f9f9;
  border-radius: 16rpx;
  margin-top: 30rpx;
  font-size: 26rpx;
  width: auto;
  height: 32rpx;
  min-height: 32rpx;
  line-height: 32rpx;
}

.free-shop .item .textarea {
  width: 100%;
  height: 200rpx;
  line-height: 40rpx;
  padding: 20rpx 30rpx;
  background: #f9f9f9;
  border-radius: 16rpx;
  margin-top: 30rpx;
  font-size: 26rpx;
  box-sizing: border-box;
}

.free-shop .item .upload-box {
  display: flex;
  margin-top: 30rpx;
}

.free-shop .item .upload-box .upload {
  border-radius: 16rpx;
  overflow: hidden;
  background: #f9f9f9;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.free-shop .item .upload-box .upload.upload-normal {
  width: 330rpx;
  height: 330rpx;
}

.free-shop .item .upload-box .upload.upload-middle {
  width: 330rpx;
  height: 240rpx;
}

.free-shop .item .upload-box .upload.upload-big {
  width: 100%;
  height: 330rpx;
}

.free-shop .item .upload-box .upload.license-img {
  width: 200px;
  height: 300px;
}

.free-shop .item .upload-box .upload.license-img .img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.free-shop .item .upload-box .upload.upload-middle:nth-child(2) {
  margin-left: 30rpx;
}

.free-shop .item .upload-box .upload .add {
  color: #fc1b35;
  font-size: 26rpx;
}

.free-shop .item .upload-box .upload .des {
  color: #999;
  margin-top: 10rpx;
}

.free-shop .item .upload-box .upload .img-box {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 0;
}

.free-shop .item .upload-box .upload .del {
  position: absolute;
  top: 0;
  right: 0;
  width: 44rpx;
  height: 44rpx;
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,.3);
  border-radius: 0 0 0 35rpx;
}

.free-shop .item .upload-box .upload .del image {
  width: 16rpx;
  height: 16rpx;
  margin: 0 0 2rpx 2rpx;
}

.free-shop .item .text-arrow {
  margin-top: 30rpx;
  padding: 28rpx 30rpx;
  height: 32rpx;
  line-height: 32rpx;
  background: #f9f9f9;
  border-radius: 16rpx;
  font-size: 26rpx;
}

.free-shop .item .text-arrow::after {
  right: 38rpx;
  width: 12rpx;
  height: 12rpx;
  border-color: #666;
}

.free-shop .btn {
  margin-top: 50rpx;
  height: 70rpx;
  line-height: 70rpx;
  background: #fc1b35;
  border-radius: 70rpx;
  color: #fff;
  text-align: center;
  font-size: 26rpx;
  font-weight: 600;
}

.free-shop .notes {
  padding: 20rpx 20rpx 50rpx;
  color: #999;
}


/* 错误提示 */
.error-tips {
  margin-top: 10px;
  font-size: 12px;
  color: #fc1b35;
}
.error-tips .error-icon {
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  font-size: 12px;
  width: 14px;
  height: 14px;
  line-height: 14px;
  border-radius: 50%;
  background: #fc1b35;
  color: #fff;
}