# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
*.local

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/src/auto-imports.d.ts

.idea
.hbuilderx
.vscode
package-lock.json
pnpm-lock.yaml
