page {
  background: #fff;
}

.page-edit-address {
  padding: 10rpx 30rpx env(safe-area-inset-bottom);

  .item {
    display: flex;
    padding: 30rpx 0;
    border-bottom: 2rpx solid #f9f9f9;
  }

  .item .text {
    width: 160rpx;
    line-height: 40rpx;
    font-size: 28rpx;
  }

  .item .input,
  .item .text-arrow {
    flex: 1;
    height: 32rpx;
    line-height: 40rpx;
    font-size: 28rpx;
    font-weight: 600;
    padding-right: 10rpx;
  }

  .item .text-arrow .placeholder-text {
    color: #999;
  }

  .item .text-arrow .area-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .item .text-arrow::after {
    width: 12rpx;
    height: 12rpx;
    border-color: #999;
    right: 24rpx;
  }

  .item .textarea {
    flex: 1;
    border: 0;
    box-shadow: 0;
    height: 96rpx;
    line-height: 40rpx;
    font-weight: 600;
    font-size: 28rpx;
  }

  .item .local {
    width: 32rpx;
    height: 32rpx;
    font-size: 0;
    margin: 4rpx 10rpx;
  }

  .item:last-child {
    align-items: center;
  }

  .item .set-default {
    flex: 1;
    margin-right: 10rpx;
    display: flex;
  }

  .item .set-default .check-label {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .btn-box {
    margin-top: 50rpx;
    text-align: center;
    padding: 0 30rpx;
    display: flex;
  }

  .btn-box .save,
  .btn-box .del {
    flex: 1;
    height: 70rpx;
    line-height: 70rpx;
    border-radius: 70rpx;
    font-size: 26rpx;
    font-weight: 600;
    box-sizing: border-box;
  }

  .btn-box .save {
    color: #fff;
    background: #fc1b35;
  }

  .btn-box .del {
    margin-left: 30rpx;
    border: 2rpx solid #ddd;
    font-weight: normal;
  }


  /* 地区picker弹窗 */
  picker-view {
    background-color: white;
    padding: 0;
    width: 100%;
    height: 380rpx;
    bottom: 0;
    position: fixed;
  }

  picker-view-column view {
    vertical-align: middle;
    font-size: 30rpx;
    line-height: 30rpx;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .animation-element-wrapper {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
  }

  .animation-element {
    display: flex;
    position: fixed;
    width: 100%;
    height: 530rpx;
    bottom: 0;
    background-color: rgba(255, 255, 255, 1);
  }

  .animation-button {
    top: 20rpx;
    width: 290rpx;
    height: 100rpx;
    align-items: center;
  }

  picker-view text {
    color: #999;
    display: inline-flex;
    position: fixed;
    margin-top: 20rpx;
    height: 50rpx;
    text-align: center;
    line-height: 50rpx;
    font-size: 34rpx;
    font-family: Arial, Helvetica, sans-serif;
  }

  .left-bt {
    left: 30rpx;
  }

  .right-bt {
    right: 35rpx;
    top: 20rpx;
    position: absolute;
    width: 80rpx !important;
  }

  .line {
    display: block;
    position: fixed;
    height: 2rpx;
    width: 100%;
    margin-top: 89rpx;
    background-color: #eee;
  }
}